unasanu.xyz {
    root * /home/optozorax/unasanu/docs
    encode gzip
    file_server

    handle_errors {
        rewrite * /{err.status_code}.html
        file_server
    }

    header ?Cache-Control "max-age=864000"

    log {
        format json
        output file /home/optozorax/logs/caddy_unasanu_access.log {
            roll_size 10gb
            roll_keep 1000
            roll_keep_for 1000h
        }
    }
}

www.unasanu.xyz {
    redir https://unasanu.xyz{uri}
}

ru.unasanu.xyz {
    redir https://unasanu.xyz/ru
}

en.unasanu.xyz {
    redir https://unasanu.xyz/en
}

dev.unasanu.xyz {
    reverse_proxy :1111
}
