.admonition {
    margin-top: 0;
    margin-bottom: 1rem;
    
	position: relative;
    padding: 0 .75rem;
    overflow: auto;
    border-left: 0.25rem solid white;
}
.admonition-title {
	font-weight: bold;
    margin: 0 -0.75rem;
    padding: .25rem .75rem;
}
.admonition-content {
    padding-top: 1rem;
}
.admonition p {
    margin-left: 0px;
    margin-right: 0px;
}

.example { border-radius: 0.3rem; padding: 1px 4px; }

.blue-bg { background-color: rgba(68,138,255,0.1); }
.blue-border { border-bottom: 1px solid rgba(68,138,255,0.1); }
.blue-border-left { border-left-color: #448aff; }

.blue2-bg { background-color: rgba(0,176,255,0.1); }
.blue2-border { border-bottom: 1px solid rgba(0,176,255,0.1); }
.blue2-border-left { border-left-color: #00b0ff; }

.blue3-bg { background-color: rgba(0,184,212,0.1); }
.blue3-border { border-bottom: 1px solid rgba(0,184,212,0.1); }
.blue3-border-left { border-left-color: #00b8d4; }

.green-bg { background-color: rgba(0,191,165,0.1); }
.green-border { border-bottom: 1px solid rgba(0,191,165,0.1); }
.green-border-left { border-left-color: #00bfa5; }

.green2-bg { background-color: rgba(0,200,83,0.1); }
.green2-border { border-bottom: 1px solid rgba(0,200,83,0.1); }
.green2-border-left { border-left-color: #00c853; }

.green3-bg { background-color: rgba(100,221,23,0.1); }
.green3-border { border-bottom: 1px solid rgba(100,221,23,0.1); }
.green3-border-left { border-left-color: #64dd17; }

.orange-bg { background-color: rgba(255,145,0,0.1); }
.orange-border { border-bottom: 1px solid rgba(255,145,0,0.1); }
.orange-border-left { border-left-color: #ff9100; }

.red-bg { background-color: rgba(255,82,82,0.1); }
.red-border { border-bottom: 1px solid rgba(255,82,82,0.1); }
.red-border-left { border-left-color: #ff5252; }

.red2-bg { background-color: rgba(255,23,68,0.1); }
.red2-border { border-bottom: 1px solid rgba(255,23,68,0.1); }
.red2-border-left { border-left-color: #ff1744; }

.red3-bg { background-color: rgba(245,0,87,0.1); }
.red3-border { border-bottom: 1px solid rgba(245,0,87,0.1); }
.red3-border-left { border-left-color: #f50057; }

.violet-bg { background-color: rgba(101,31,255,0.1); }
.violet-border { border-bottom: 1px solid rgba(101,31,255,0.1); }
.violet-border-left { border-left-color: #651fff; }

.gray-bg { background-color: rgba(159,159,159,0.1); }
.gray-border { border-bottom: 1px solid rgba(159,159,159,0.1); }
.gray-border-left { border-left-color: #9e9e9e; }