/* The Modal (background) */
.modal {
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 8000;
  font-weight: 500;
  font-size: 17px;
  background-color: rgba(0,0,0,.7);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal > img {
  display: block;
  max-width:100%;
  max-height:100%;
  cursor: move;
  touch-action: none;

  background: rgba(255, 255, 255, 0.7);
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  z-index: 8002;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0px 15px 0px 15px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.full-screen-img {
  cursor: pointer;
}

.magnifier-container {
  position: relative;
}

.magnifier {
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgba(#dfdfdf, 0.9);
  border-radius: 5px;
  padding: 2px;
  width: 25px !important;
  border: 2px #cfcfcf solid;
}

.magnifier-info {
  position: absolute;
  top: 30px;
  right: 3px;
  background: rgba(#dfdfdf, 0.9);
  border-radius: 5px;
  padding: 2px;
  border: 2px #cfcfcf solid;
  font-size: 12px;
}

.magnifier-display {
  display: none !important;
}

.full-screen-img:hover + .magnifier-display,
.magnifier-display:hover {
  display: block !important;
}
