.img-one, 
.img-three-four,
.img-one-two,
.img-one-four,
.img-two-three,
.img-one-three {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 2px;
  border-radius: 5px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-one {
  @include large { max-width: 90%; }
  @include medium { max-width: 90%; }
  @include small { max-width: 98%; }
}

.img-three-four {
  @include large { max-width: 74%; }
  @include medium { max-width: 74%; }
  @include small { max-width: 98%; }
}

.img-one-two {
  @include large { max-width: 49%; }
  @include medium { max-width: 49%; }
  @include small { max-width: 98%; }
}

.img-one-four {
  @include large { max-width: 24%; }
  @include medium { max-width: 49%; }
  @include small { max-width: 49%; }
}

.img-two-three {
  @include large { max-width: 65%; }
  @include medium { max-width: 74%; }
  @include small { max-width: 98%; }
}

.img-one-three {
  @include large { max-width: 32%; }
  @include medium { max-width: 49%; }
  @include small { max-width: 49%; }
}
