<center>

<div class="canvas-container">
<div class="canvas"><span id="hMany0">1</span><br><canvas id="canvasMany0"></canvas></div>
<div class="canvas"><span id="hMany1">1</span><br><canvas id="canvasMany1"></canvas></div>
<div class="canvas"><span id="hMany2">1</span><br><canvas id="canvasMany2"></canvas></div>
<div class="canvas"><span id="hMany3">1</span><br><canvas id="canvasMany3"></canvas></div>
<div class="canvas"><span id="hMany4">1</span><br><canvas id="canvasMany4"></canvas></div>
<div class="canvas"><span id="hMany5">1</span><br><canvas id="canvasMany5"></canvas></div>
<div class="canvas"><span id="hMany6">1</span><br><canvas id="canvasMany6"></canvas></div>
<div class="canvas"><span id="hMany7">1</span><br><canvas id="canvasMany7"></canvas></div>
</div>

<div class="game-buttons">
  <button id="start-stop2">Старт/Стоп</button>
  <button id="step2">Шаг</button>
  <button id="randomRules2">Случайные правила</button>
</div>
<div class="game-buttons">
  <button id="copy2">Скопировать с B3/S23</button>
  <button id="random2">Случайное поле</button>
  <button id="glider2">Глайдер</button>
  <button id="glidergun2">Глайдерное ружьё</button>
</div>
</center>

<script src="/js/game_of_life_all_rules.js"></script>
